body {
  background-image: url("https://e7.pngegg.com/pngimages/887/15/png-transparent-camouflage-pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
h1 {
  color: aliceblue;
  text-align: center;
}
h3 {
  color: lightblue;
  text-align: center;
}
tr:hover {
  background-color: #969893;
}
table {
  margin: 45px 20px 50px 425px;
}
